@model OpenStore.Models.PropertyLev1

@{
    ViewData["Title"] = "تعديل الخاصية";
}

<div class="row col-12 content-heade">
    <i class="fa fa-chart-pie"></i>
    <h5 class="no-margin">تعديل الخاصية</h5>
</div>
<div class="col-12 content row">
    <div class="table-head col-7 no-padding">
        <i class="fa fa-edit icon"></i>
        <h5>تعديل الخاصية</h5>
    </div>
    <div class="mb col-4 button-heade no-padding ">
        <div class="col-12 no-padding no-margin">
            <a asp-action="IndexPropertyLev1" asp-route-id="CategoryLev2ID" class="btn button-small" type="submit">
                <i class=" fa fa-list"></i>القائمة
            </a>
        </div>
    </div>

    <form class="col-12 row" asp-action="EditPropertyLev1">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="ID" />
        <input type="hidden" asp-for="CategoryLev2ID" />

        <div class="mb no-padding text-right col-12">
            <label class="balck col-12">اسم الخاصية</label>
            <input asp-for="Name" placeholder="ادخل اسم الخاصية" class="form-control col-12" />
        </div>

        <div class="mb no-padding text-right col-12">
            <label class="balck col-12">ترتيب الخاصية</label>
            <input asp-for="Index" placeholder="ادخل ترتيب الخاصية" class="form-control col-12" />
        </div>

        <div class="col-12 button-heade">
            <div class="col-12 no-padding no-margin">
                <button class="btn button-small" type="submit">
                    <i class=" fa fa-save"></i>حفظ التعديل
                </button>
            </div>
        </div>
    </form>
</div>

