
@{
    ViewData["Title"] = "تم اكمال الطلب";
}

<!-- ##### ADS Area Start ##### -->
<div class="ads-img section-padding-80-0">
    <div class="row">
        <div class="col-12">
            <img src="/Uploads/ADS/@ViewBag.ADS1" />
        </div>
    </div>
</div>
<!-- ##### ADS Area End ##### -->



<!-- ##### Checkout Area Start ##### -->
<div class="checkout_area section-padding-80 text-right">
    <div class="container">
        <div class="row">
            <div class="col-12 mx-auto text-center">
                <img src="~/Home/img/bg-img/ok-animate.svg" style="width: 480px;height: 480px;" />
                <h2>تم اكمال طلبك </h2>
                <a asp-action="Index" class="btn btn-light text-white" style="background-color:#ffd14a">العودة للمتجر</a>
                <a asp-action="Profile" class="btn btn-outline-dark text-dark">مشاهدة الطلبات</a>
            </div>
        </div>
    </div>
</div>
<!-- ##### Checkout Area End ##### -->




<!-- ##### ADS Area Start ##### -->
<div class="ads-img section-padding-80">
    <div class="row">
        <div class="col-12">
            <img src="/Uploads/ADS/@ViewBag.ADS2" />
        </div>
    </div>
</div>
<!-- ##### ADS Area End ##### -->
