
@{
    ViewData["Title"] = "تم تغير المرور";
}


<!-- ##### Pass Area Start ##### -->
<div class="checkout_area section-padding-0-80 text-right">
    <div class="container">
        <div class="row">
            <div class="col-12 mx-auto text-center">
                <img src="~/Home/img/bg-img/ok-animate.svg" style="width: 480px;height: 480px;" />
                <h2>تم تغير كلمة المرور </h2>
                <a asp-action="Profile" class="btn btn-light text-white" style="background-color:#ffd14a">الرجوع للمعومات</a>
                <a asp-action="Index" class="btn btn-outline-dark text-dark">الذهاب للمتجر</a>
            </div>
        </div>
    </div>
</div>
<!-- ##### Pass Area End ##### -->

